$card-width: 400px;

$card-background-color: #f2f5f5;
$card-border-color: #568b99;
$button-background-color: #b8ced4;
$hover-button-background-color: #c8dadf;
$info-border-color: #a6c6ce;
$info-block-color: #568b99;